<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  <title>个人主页 - 陈超</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <meta name="description" content="FlexyCodes - FlexyCard vCard Template. Creating my personal page!"/>
  <% if(ENV == 'dev'){ %>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css"/>
  <link rel="stylesheet" type="text/css" href="/static/css/animate.min.css"/>
  <link rel="stylesheet" type="text/css" href="/static/css/jquery.mCustomScrollbar.css"/>
  <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
  <link rel="stylesheet" type="text/css" href="/static/css/prettyPhoto.css"/>
  <link rel="stylesheet" type="text/css" href="/static/css/colors/DarkBlue.css"/>
  <% }else{ %>
  <link rel="stylesheet" type="text/css" href="/dist/css/shaman05.min.css"/>
  <link rel="stylesheet" type="text/css" href="/dist/css/DarkBlue.css"/>
  <% } %>
  <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">
</head>
<body>
<!--[if lt IE 7]>
<p class="browsehappy">
  You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your
  experience.
</p>
<![endif]-->

<!-- Laoding page -->
<div id="preloader">
  <div id="spinner"></div>
</div>

<!-- .wrapper -->
<div class="wrapper">
  <!--- .Content -->
  <section class="tab-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">

            <div class="col-md-3 widget-profil">
              <div class="row">
                <% include profile_header.html %>
              </div>
            </div>

            <!-- flexy_content -->
            <div class="col-md-9 flexy_content" style="padding-left: 0;padding-right: 0;">
              <!-- verticalTab menu -->
              <div id="verticalTab">

                <!-- resp-tabs-list -->
                <ul class="resp-tabs-list">
                  <li class="tabs-profile hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a profile" data-tab-name="profile">
                    <span class="tite-list">profile</span>
                    <i class="fa fa-user icon_menu icon_menu_active"></i>
                  </li>
                  <li class="tabs-resume hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a" data-tab-name="resume">
                    <span class="tite-list">resume</span>
                    <i class="fa fa-tasks icon_menu"></i>
                  </li>
                  <li class="tabs-portfolio hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a" data-tab-name="portfolio">
                    <span class="tite-list">portfolio</span>
                    <i class="fa fa-briefcase icon_menu"></i>
                  </li>
                  <li class="tabs-blog hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a" data-tab-name="blog">
                    <span class="tite-list">blog</span>
                    <i class="fa fa-bullhorn icon_menu"></i>
                  </li>
                  <li class="tabs-contact hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a" data-tab-name="contact" style="margin-bottom: 48px !important;">
                    <span class="tite-list">contact</span>
                    <i class="fa fa-envelope icon_menu"></i>
                  </li>
                  <!--<a href="#" id="print"><i class="fa fa-print icon_print"></i> </a>
                  <a href="#" id="downlowd"><i class="fa fa-download icon_print"></i> </a>-->
                </ul>
                <!-- End resp-tabs-list -->

                <!-- resp-tabs-container -->
                <div class="resp-tabs-container">
                  <!-- profile -->
                  <div id="profile" class="content_2">
                    <% include profile.html %>
                  </div>
                  <!-- End .profile -->
                  <!-- .resume -->
                  <div id="resume" class="content_2">
                    <% include resume.html %>
                  </div>
                  <!-- End .resume -->
                  <!-- .portfolio -->
                  <div id="portfolio" class="content_2">
                    <% include portfolio.html %>
                  </div>
                  <!-- End .portfolio -->
                  <!-- .blog -->
                  <div id="blog" class="content_2">
                    <% include blog.html %>
                  </div>
                  <!-- End .blog -->
                  <!-- .contact -->
                  <div id="contact" class="content_2">
                    <% include contact.html %>
                  </div>
                  <!-- End .contact -->
                </div>
                <!-- End #resp-tabs-container -->

              </div>
              <!-- End verticalTab -->
            </div>
            <!-- End flexy_content -->

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Content -->
</div>
<!-- End wrapper -->

<% if(ENV == 'dev'){ %>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.mixitup.min.js"></script>
<script type="text/javascript" src="/static/js/HeadImage.js"></script>
<script type="text/javascript" src="/static/js/easyResponsiveTabs.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
<% }else{ %>
<script type="text/javascript" src="/dist/js/shaman05.min.js"></script>
<% } %>

<!-- code js for image rotate -->
<script type="text/javascript">
  var mouseX;
  var mouseY;
  var imageOne;

  /* Calling the initialization function */
  $(init);

  /* The images need to re-initialize on load and on resize, or else the areas
   * where each image is displayed will be wrong. */
  $(window).load(init);
  $(window).resize(init);

  /* Setting the mousemove event caller */
  $(window).mousemove(getMousePosition);

  /* This function is called on document ready, on load and on resize
   * and initiallizes all the images */
  function init() {
    /* Instanciate the mouse position variables */
    mouseX = 0;
    mouseY = 0;
    /* Instanciate a HeadImage class for every image */
    imageOne = new HeadImage("one");
  }

  /* This function is called on mouse move and gets the mouse position.
   * It also calls the HeadImage function to display the correct image*/
  function getMousePosition(event) {
    /* Setting the mouse position variables */
    mouseX = event.pageX;
    mouseY = event.pageY;
    /*Calling the setImageDirection function of the HeadImage class
     * to display the correct image*/
    imageOne.setImageDirection();
  }
</script>
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</body>
</html>