<% include utribe-header.html %>
<header class="bar bar-cgt has-arr"><a href="javascript:;" class="arr-left inline"></a>当期新增积分</header>
<table class="list-table list-table-4 hasFooter-menu">
  <tr>
    <td>工号</td>
    <td><%=data.userNo%></td>
  </tr>
  <tr>
    <td>姓名</td>
    <td><%=data.userName%></td>
  </tr>
  <tr>
    <td>所属分公司</td>
    <td><%=data.branchName%></td>
  </tr>
  <tr>
    <td>统计起始时间</td>
    <td><%=data.statisticStartDate%></td>
  </tr>
  <tr>
    <td>统计截止时间(元)</td>
    <td><%=data.statisticEndDate%></td>
  </tr>
  <tr>
    <td>募资(万)</td>
    <td><%=data.raiseTotal%></td>
  </tr>
  <tr>
    <td>除募资外其他收入(元)</td>
    <td><%=data.otherTotal%></td>
  </tr>
  <tr>
    <td>募资/收入破零</td>
    <td class="red"><%=data.perfGreatZero%></td>
  </tr>
  <tr>
    <td>募资累计</td>
    <td><%=data.perfRaiseTotal%></td>
  </tr>
  <tr>
    <td>除募资外其他收入</td>
    <td class="red"><%=data.perfOtherTotal%></td>
  </tr>
  <tr>
    <td>单月客户收入前三甲</td>
    <td><%=data.sperfCustMonthIncome%></td>
  </tr>
  <tr>
    <td>单月客户募资前三甲</td>
    <td><%=data.sperfCustMonthRaise%></td>
  </tr>
  <tr>
    <td>年度客户经理业绩/募资前三甲</td>
    <td><%=data.sperfCustYearRaise%></td>
  </tr>
  <tr>
    <td>连续3个月蝉联月度收入/募资冠军</td>
    <td><%=data.sperfCust3monthRaise%></td>
  </tr>
  <tr>
    <td>单月业绩收入/募资有较大增幅</td>
    <td><%=data.sperfCustMonthRise%></td>
  </tr>
  <tr>
    <td>签约客户数每增加5家</td>
    <td><%=data.custSignCount%></td>
  </tr>
  <tr>
    <td>季度客户满意度</td>
    <td><%=data.custSatisfy%></td>
  </tr>
  <tr>
    <td>月日常出勤率</td>
    <td class="red"><%=data.behaviorPresent%></td>
  </tr>
  <tr>
    <td>学习培训</td>
    <td><%=data.behaviorTrain%></td>
  </tr>
  <tr>
    <td>提出合理化建议被公司采纳的</td>
    <td><%=data.abilityAdvise%></td>
  </tr>
  <tr>
    <td>月度各分支机构内收入排名第一</td>
    <td><%=data.abilityIncome%></td>
  </tr>
  <tr>
    <td>月度各分支机构内募资排名第一</td>
    <td><%=data.abilityRaise%></td>
  </tr>
  <tr>
    <td>参加公司文体活动</td>
    <td class="red"><%=data.specialActivity%></td>
  </tr>
  <tr>
    <td>发表作品、分享经验</td>
    <td><%=data.specialWeixin%></td>
  </tr>
  <tr>
    <td>公司范围内通报表扬</td>
    <td><%=data.specialPraise%></td>
  </tr>
  <tr>
    <td>人才推荐</td>
    <td><%=data.specialRecommend%></td>
  </tr>
  <tr>
    <td>公司活动竞赛方案分值说明计算</td>
    <td><%=data.otherActivity%></td>
  </tr>
  <tr>
    <td>团队活动、团队协作</td>
    <td><%=data.reduceTeam%></td>
  </tr>
  <tr>
    <td>培训活动</td>
    <td><%=data.reduceTrain%></td>
  </tr>
  <tr>
    <td>业绩指标未开单(其他收入）</td>
    <td><%=data.reduceWithoutBill%></td>
  </tr>
  <tr>
    <td>季度分支机构内排名最后一名</td>
    <td><%=data.reduceLast%></td>
  </tr>
  <tr>
    <td>合计积分</td>
    <td class="red"><%=data.totalIntegral%></td>
  </tr>
  <tr>
    <td>积分计算说明</td>
    <td class="font-light"><a href="/integralCalculation" class="block font-light">点击查看说明<span class="fr">&gt;</span></a></td>
  </tr>
</table>
<% include utribe-footer-menu.html %>
<% include utribe-footer.html %>