<% include utribe-header.html %>
<header class="bar bar-cgt">登录</header>
<div class="center login-logo">
  <img src="/static/images/utribe/Ulogo.png" alt="">
</div>
<div class="list list-inset">
  <label class="item item-input has-icon">
    <i class="ubgimages icon head"></i>
    <input id="userNo" type="text" class="has-icon" required="请输入您的员工号" placeholder="请输入您的员工号">
  </label>
  <label class="item item-input has-icon">
    <i class="ubgimages icon lock"></i>
    <input id="password" type="password" required="请输入您UBSP的登录密码" placeholder="请输入您UBSP的登录密码">
  </label>
  <button id="doLogin" class="use-buttton margin-top-10">登录</button>
  <p class="tac padding-top-40">中新力合股份有限公司</p>
</div>
<% include utribe-footer.html %>