<% include utribe-header.html %>
<header class="bar bar-cgt has-arr"><a href="javascript:;" class="arr-left inline"></a>个人积分排名</header>
<table id="list" class="list-table list-table-2">
  <thead>
    <th>排名</th>
    <th>人员</th>
    <th>总积分</th>
    <th>部落等级</th>
  </thead>
  <%if(list && list.length > 0){%>
  <%list.forEach(function(user){%>
  <tr>
    <td><%=user.rank%></td>
    <td><%=user.userName%></td>
    <td><%=user.totalIntegral%></td>
    <td>
      <%=user.tribeGrade%>
      <!--<em class="smallSun"></em><em class="smallSun"></em>-->
    </td>
  </tr>
  <%})%>
  <%}else{%>
  <tr>
    <td colspan="4" style="text-align: center">暂无数据</td>
  </tr>
  <%}%>
</table>
<div class="btn-more hasFooter-menu"><button id="getMoreData" data-api="pIntegralList" data-page="2">查看更多</button></div>
<% include utribe-footer-menu.html %>
<% include utribe-footer.html %>