<div class="footer-menu">
  <a class="footerNav-menu fl tac block" href="/myIntegral">
    <i class="inline menuIcon menuIcon1"></i>
    <span class="font14 block">我的积分</span>
  </a>
  <a class="footerNav-menu fl tac block" href="/pIntegralList">
    <i class="inline menuIcon menuIcon2"></i>
    <span class="font14 block">个人排名</span>
  </a>
  <a class="footerNav-menu fl tac block" href="/cIntegralList">
    <i class="inline menuIcon menuIcon3"></i>
    <span class="font14 block">分公司排名</span>
  </a>
</div>